html,
    body {
      font-family: sans-serif;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    
    #viewDiv {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 60px;
    }
    
    .footer {
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 100%;
    }
    
    .sublayers {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      overflow: auto;
    }
    
    .sublayers-item {
      flex-grow: 4;
      background-color: rgba(34, 111, 14, .5);
      color: #FFF;
      margin: 1px;
      width: 50%;
      padding: 10px;
      overflow: auto;
      text-align: center;
      cursor: pointer;
      font-size: 0.7em;
    }
    
    .visible-layer {
      color: #fff;
      background-color: #226F0E;
    }


    /*STYLE FOR EDIT*/

    .editArea-container {
      background: #fff;
      font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.5em;
      overflow: auto;
      padding: 12px 15px;
      width: 300px;
    }
    
    .edit-button:hover,
    .edit-button:focus {
      background-color: #e4e4e4;
    }
    
    .inputInfo {
      font-size: 12px;
      height: 32px;
      margin-bottom: 6px;
      padding: 0 6px;
      width: 100%;
    }
    
    .list-heading {
      font-weight: normal;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #323232;
    }
    
    .edit-button {
      font-size: 14px;
      height: 32px;
      margin-top: 10px;
      width: 100%;
      background-color: transparent;
      border: 1px solid #0079c1;
      color: #0079c1;
    }
    
    .or-wrap {
      background-color: #e0e0e0;
      height: 1px;
      margin: 2em 0;
      overflow: visible;
    }
    
    .or-text {
      background: #fff;
      line-height: 0;
      padding: 0 1em;
      position: relative;
      top: -.75em;
    }
    
    input:invalid {
      border: 1px solid red;
    }
    
    input:valid {
      border: 1px solid green;
    }


    /*STYLE FOR IDENTIFY TASK*/
    .esri-popup .esri-popup-header .esri-title {
      font-size: 18px;
      font-weight: bolder;
    }
    
    .esri-popup .esri-popup-body .esri-popup-content {
      font-size: 14px;
    }

    /*STYLE FOR QUERY TASK*/

     #optionsDiv {
      background-color: dimgray;
      color: white;
      z-index: 23;
      position: absolute;
      bottom: 60px;
      right: 0px;
      padding: 0px 0px 0px 10px;
      border-bottom-left-radius: 5px;
      max-width: 350px;
    }


    /*STYLES FOR FIND TASK*/
    td {
      padding: 4px;
    }
    
    #loading {
      visibility: hidden;
    }

    #find-field {
      background-color: dimgray;
      color: white;
      z-index: 23;
      position: absolute;
      bottom: 60px;
      left: 0px;
      padding: 0px 0px 0px 10px;
      border-bottom-left-radius: 5px;
      max-width: 370px;
      height: 300px;
      overflow-y: scroll;
    }